<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TutuApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>85576A3A1DA573D5004EF6A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85576A4E1DA573D6004EF6A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85576A591DA573D6004EF6A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
